.container
  .task
    .card_heart.dropdown
      = image_tag 'Combined Shape.png', class: 'dropbtn'
      .dropdown-content.mini
        = link_to edit_article_task_path(id: @task.id) do
          %p Edit
        = link_to 'Delete', article_task_path(id: @task.id), data: { method: 'delete', confirm: 'Are you sure to delete this task?' }
    .article_detail
      = image_tag 'default-avatar.png'
      %div
        %p= @task.author_name
        %p= @task.display_created_at
    %h1.article_title_task= @task.title
    .card_image_task
      = image_tag 'eyecatch1.png'
    .article_content
      = @task.content