.article
  .card_image
    = image_tag 'eyecatch1.png'
  %h1.article_title= @task.title
  .article_detail
    = image_tag 'default-avatar.png'
    %div
      %p= @task.author_name
      %p= @task.display_created_at
  .article_content
    = @task.content