= link_to article_path(article) do
  .card
    .card_image
      = image_tag 'eyecatch1.png'
    .card_content
      .card_title
        = article.title
        -if user_signed_in? && current_user.has_written?(article)
          .card_heart.dropdown
            = image_tag 'Combined Shape.png', class: 'dropbtn'
            .dropdown-content.mini
              = link_to edit_article_path(id: article.id) do
                %p Edit
              = link_to 'Delete', article_path(id: article.id), data: { method: 'delete', confirm: 'Are you sure to delete this board?' }
      .article_content
        = article.content
      .card_detail
        = image_tag 'default-avatar.png'
        %div
          %p= article.author_name
          %p= article.display_created_at
