<div class="container">
  <div class="tabs">
    <div class="tabs_item active">
      All Boards
    </div>
  </div>

  <% @articles.each do |article| %>
    <%= link_to article_path(article) do %>
      <div class="card">
        <div class="card_image">
          <%= image_tag 'eyecatch1.png' %>
        </div>
        <div class="card_content">
          <div class="card_title">
            <%= article.title %>
              <div class="card_heart dropdown">
                <%= image_tag 'Combined Shape.png', class: 'dropbtn' %>
                <div class="dropdown-content mini">
                 <%= link_to edit_article_path(id: article.id) do %>
                    <p>Edit</p>
                 <% end %>
                  <%= link_to 'Delete', article_path(id: article.id), data: { method: 'delete', confirm: 'Are you sure to delete this board?' } %>
                </div>
            </div>
          </div>
          <div class="card_detail">
            <%= image_tag 'default-avatar.png' %>
            <div>
              <p>cohki0305</p>
              <p><%= article.display_created_at %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= link_to new_article_path do %>
    <div class="float_btn">
      <i class="fa fa-plus"></i>
    </div>
    <div class="card">
      <div class="card_content add_card">
        <p>+ Add new board</p>
      </div>
    </div>
  <% end %>
</div>