.article
  %h1.article_title= @article.title
  .article_detail
    = image_tag 'default-avatar.png'
    %div
      - if @article.user.present?
        %p= @article.user.display_name
      %p= @article.display_created_at
  .article_content
    = @article.content
