.container
  - if @article.eyecatch.attached?
    .article_image
      =image_tag @article.eyecatch
  %h1.article_title= @article.title
  .article_detail
    = image_tag @article.user.avatar_image
    %div
      %p= @article.author_name
      %p= @article.display_created_at
  .article_content
    = @article.content
  - @tasks.each do |task|
    = link_to article_task_path(@article.id, task.id) do
      .card
        - if task.eyecatch.attached?
          .card_image
            = image_tag task.eyecatch
        .card_content
          .card_title
            = task.title
          .card_content
            = task.content
          .card_comment
            %span= task.comment_count
            = image_tag 'message-square-outline.png'
          .card_detail
            = image_tag task.user.avatar_image
  = link_to new_article_task_path(@article) do
    .card
      .card_content.add_card
        %p + Add new card